# Dependencies
node_modules/
/.pnp
.pnp.js
yarn.lock
package-lock.json

# Next.js build output
.next/
out/

# Production build
dist/
build/

# Environment Variables
.env
.env.local
.env.development
.env.test
.env.production
.env.development.local
.env.test.local
.env.production.local

# Debug & Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
logs/
*.log

# Testing
/coverage
.nyc_output

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store

# Vercel
.vercel/
.turbo

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Misc
.cache/
public/uploads/ 
